<h1> You know it</h1>

Title: <%= @article.title %></br>
Description: <%= @article.description %>

<p>
<%= link_to 'Edit', edit_article_path(@article) %> <p>

<p>
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %> <p>

<p>
<%= link_to 'Return to listing', articles_path(@article) %> <p>
